* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}

.navbar {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 100px;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 10;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
}
.navbar .logo p {
  font-size: 50px;
  font-weight: 600;
}
.navbar .logo p span {
  color: #DD5118;
}
.navbar nav ul {
  display: flex;
  list-style: none;
}
.navbar nav ul li {
  color: black;
  cursor: pointer;
  padding: 10px 10px;
  margin: 0 10px;
  font-size: 12px;
  transition: 0.3s;
}
.navbar nav ul li:hover {
  color: #777;
}
.navbar button.cart {
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.navbar button.cart p {
  font-size: 12px;
  padding-left: 4px;
  transition: 0.3s;
}
.navbar button.cart svg {
  transition: 0.3s;
}
.navbar:hover p {
  color: #DD5118;
}
.navbar:hover svg {
  color: #DD5118;
}

header {
  position: relative;
  margin-top: 70px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 1rem;
}

.first {
  grid-area: 1/1/2/2;
}

.second {
  grid-area: 1/3/2/4;
}
.second span {
  color: #DD5118;
}

.third {
  grid-area: 2/1/3/2;
}
.third div {
  text-align: center;
  margin-top: 20%;
}

.fourth {
  grid-area: 2/3/3/4;
}

.fifth {
  height: 80%;
  grid-area: 1/2/3/3;
}

.fourth, .third {
  margin-top: -15%;
  align-self: start;
  padding: 0 10%;
  text-align: justify;
  line-height: 2rem;
}

button.text {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  padding: 16px 40px;
  text-transform: uppercase;
  color: white;
  background-color: #DD5118;
  border: none;
  border-radius: 30px;
  font-size: 12px;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  -webkit-box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.3);
}
button.text::after {
  background-color: #678422;
  border-radius: 30px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: -1;
}
button.text:hover::after {
  transform: translate(0, 0);
}
button.text:hover {
  transform: scale(1.05);
  will-change: transform;
  color: white;
}

.avo, .tomato, .basil {
  position: absolute;
  z-index: -1;
}

.avo {
  top: 75px;
  left: -11%;
  width: 180px;
  transform: rotate(45deg);
}

.tomato {
  bottom: 0;
  right: -12%;
  width: 180px;
}

dialog.modal {
  backdrop-filter: blur(30px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(107, 107, 107, 0.253);
  -moz-box-shadow: 0px 5px 10px 0px rgba(107, 107, 107, 0.253);
  box-shadow: 0px 5px 10px 0px rgba(107, 107, 107, 0.253);
  background-color: white;
  font-family: "Public Sans", sans-serif;
  padding: 20px;
}
dialog.modal h2 {
  font-size: 20px;
  border-bottom: 2px #ddd solid;
  padding-bottom: 10px;
}
dialog.modal ul {
  list-style: none;
}
dialog.modal ul .cart-title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0 10px;
}
dialog.modal ul .badge {
  display: inline-block;
  background-color: #bbf0bc;
  padding: 4px 6px;
  border-radius: 5px;
  margin-bottom: 10px;
}
dialog.modal ul .badge p {
  display: inline-block;
  color: #1a7e1c;
  padding-left: 4px;
  font-size: 12px;
}
dialog.modal ul .cart-time {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}
dialog.modal ul .cart-time p {
  margin-left: 5px;
}
dialog.modal ul .cart-item-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  border-bottom: 1px #ddd solid;
}
dialog.modal ul .cart-item-actions .left-side {
  display: flex;
  color: #888;
  cursor: pointer;
}
dialog.modal ul .cart-item-actions .left-side p {
  margin-left: 4px;
  transition: 0.3s;
}
dialog.modal ul .cart-item-actions .left-side svg {
  transition: 0.3s;
}
dialog.modal ul .cart-item-actions:hover p, dialog.modal ul .cart-item-actions:hover svg {
  color: #333;
}
dialog.modal ul .cart-item-actions .right-side {
  display: flex;
  align-content: center;
  border: 1px #ddd solid;
  border-radius: 8px;
}
dialog.modal ul .cart-item-actions .right-side button {
  border: none;
  font-size: 14px;
  background-color: white;
  padding: 4px 8px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}
dialog.modal ul .cart-item-actions .right-side button:nth-of-type(1) {
  border-radius: 8px 0 0 8px;
}
dialog.modal ul .cart-item-actions .right-side button:nth-of-type(1):hover {
  background-color: #eee;
}
dialog.modal ul .cart-item-actions .right-side button:nth-last-of-type(1) {
  border-radius: 0 8px 8px 0;
}
dialog.modal ul .cart-item-actions .right-side button:nth-last-of-type(1):hover {
  background-color: #eee;
}
dialog.modal .cart-note {
  padding: 20px 0;
  color: #888;
  line-height: 1.5em;
  font-style: italic;
  font-size: 12px;
  border-bottom: 2px solid #ddd;
}
dialog.modal .cart-total {
  display: flex;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
}
dialog.modal .modal-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
dialog.modal .modal-actions button {
  width: auto;
  padding: 8px 16px;
  font-size: 12px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}
dialog.modal .modal-actions .checkout {
  flex-grow: 1;
}
dialog.modal .modal-actions .shopping {
  background-color: white;
  color: black;
  border: 1px #ddd solid;
}

dialog.checkout p {
  padding: 20px 0 20px;
  color: #888;
  border-bottom: 1px solid #ddd;
}
dialog.checkout div.control {
  display: flex;
  flex-direction: column;
}
dialog.checkout div.control label {
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0 10px;
}
dialog.checkout div.control input {
  outline: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #FAFAFA;
  padding: 10px;
  font-size: 12px;
  color: #888;
}
dialog.checkout .modal-checkout {
  padding-top: 40px;
}

dialog.warning {
  width: 700px;
  height: 500px;
  overflow: visible;
  padding: 30px;
}
dialog.warning .close {
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  transition: 0.3s;
}
dialog.warning .close:hover {
  color: #DD5118;
}
dialog.warning .cols {
  display: flex;
}
dialog.warning .cols .col .image img {
  position: relative;
  top: -60px;
  left: -50px;
  width: 340px;
  border-radius: 10px;
}
dialog.warning .cols .col .ingredients {
  margin: -45px 40px 0 0;
}
dialog.warning .cols .col .ingredients h4 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
dialog.warning .cols .col .ingredients div {
  height: 210px;
  overflow: scroll;
}
dialog.warning .cols .col .ingredients div ul li {
  padding: 6px 0;
  font-size: 13px;
  font-weight: 200;
}
dialog.warning .cols .col .ingredients div ul li svg {
  margin-right: 6px;
}
dialog.warning .cols .col .title {
  overflow: scroll;
  margin-left: -20px;
}
dialog.warning .cols .col .title h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1em;
}
dialog.warning .cols .col .prep {
  display: flex;
  margin-left: -20px;
  justify-content: space-evenly;
}
dialog.warning .cols .col .prep .row .img {
  padding: 16px 0;
  display: flex;
  align-items: center;
}
dialog.warning .cols .col .prep .row .img svg {
  color: #DD5118;
}
dialog.warning .cols .col .prep .row .img p {
  padding-left: 10px;
  font-size: 13px;
  font-weight: 400;
}
dialog.warning .cols .col .prep .row .img p:nth-of-type(2) {
  font-weight: 300;
  font-size: 12px;
  color: #333;
}
dialog.warning .cols .col h4 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
dialog.warning .cols .col .steps {
  overflow: scroll;
}
dialog.warning .cols .col .steps ol {
  padding: 8px 20px;
}
dialog.warning .cols .col .steps ol li {
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 200;
  text-align: justify;
}

.about {
  padding: 40px;
  background-color: #ddd;
  border-radius: 20px;
}
.about .columns {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  align-items: flex-start;
}
.about .columns p {
  flex-basis: 30%;
  padding: 16px 0;
  font-size: 14px;
  line-height: 2em;
  text-align: justify;
  position: relative;
}
.about .columns p img {
  height: 100px;
  position: absolute;
  right: -30px;
  bottom: -80px;
  transform: rotate(20deg);
}
.about .columns div {
  margin-top: -30px;
}
.about .columns div img {
  height: 400px;
}

section {
  margin: 140px 10px;
  text-align: center;
}
section:nth-of-type(1) {
  margin-top: 100px;
}
section h4 {
  font-size: 2rem;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 64px;
  color: #333;
}
section h4 span {
  text-transform: uppercase;
  color: #DD5118;
}
section .plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
section .plans .meal_card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: start;
  border-radius: 30px;
  min-height: 600px;
  min-width: 360px;
  width: 30%;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
}
section .plans .meal_card:nth-of-type(1) .card_header {
  background-color: rgba(103, 132, 34, 0.3764705882);
}
section .plans .meal_card:nth-of-type(2) .card_header {
  background-color: rgba(103, 132, 34, 0.6392156863);
}
section .plans .meal_card .card_header {
  position: relative;
  background-color: #678422;
  -webkit-box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, 0.2);
}
section .plans .meal_card .card_header h5 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 40px 0 20px;
  color: white;
}
section .plans .meal_card .card_header p {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 70px;
  color: white;
}
section .plans .meal_card .card_price {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 50px);
  margin: 0 auto;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
section .plans .meal_card .card_price p {
  font-size: 2rem;
  line-height: 100px;
  font-weight: 900;
  color: #333;
}
section .plans .meal_card .card_description {
  margin-top: 70px;
  padding: 0 60px;
  text-align: justify;
}
section .plans .meal_card .card_description p {
  font-size: 12px;
  line-height: 1.5em;
  color: #777;
}
section .plans .meal_card .card_duration {
  margin: 20px 0 30px;
  padding: 0 100px;
  line-height: 40px;
  font-size: 1rem;
}
section .plans .meal_card .card_duration p {
  color: #DD5118;
  border-bottom: 2px solid;
}
section .plans .meal_card .card_includes {
  padding: 0 60px 0 70px;
  text-align: justify;
  flex-grow: 1;
}
section .plans .meal_card .card_includes ul {
  list-style: none;
  color: #777;
  font-size: 12px;
}
section .plans .meal_card .card_includes ul li {
  padding-bottom: 20px;
  display: flex;
}
section .plans .meal_card .card_includes ul p {
  padding-left: 10px;
}
section .plans .meal_card button {
  margin: 20px 0 30px;
}
section .recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
section .recipes .recipe_card {
  margin-bottom: 40px;
}
section .recipes .recipe_card .recipe_photo {
  height: 220px;
  width: 260px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
section .recipes .recipe_card .recipe_photo img {
  height: 220px;
  min-width: 260px;
}
section .recipes .recipe_card:hover .recipe_photo {
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
}
section .recipes .recipe_card .recipe_icons {
  margin-top: 4px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #eee;
  height: 80px;
  padding: 48px 10px 30px;
  justify-content: space-evenly;
  transition: 0.3s;
}
section .recipes .recipe_card .recipe_icons .recipe_title {
  position: absolute;
  width: 240px;
  left: 10px;
  top: -30px;
  background: white;
  color: #333;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
section .recipes .recipe_card .recipe_icons .recipe_title h4 {
  padding: 16px 10px;
  font-size: 12px;
  text-transform: none;
  font-weight: 400;
}
section .recipes .recipe_card .recipe_icons .icon_set {
  display: flex;
  align-items: center;
  justify-content: center;
}
section .recipes .recipe_card .recipe_icons .icon_set p {
  font-size: 12px;
  margin-left: 10px;
}
section .recipes .recipe_card .recipe_icons .circle {
  background-color: #bbb;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
section .recipes .recipe_card .recipe_icons .vegetarian {
  background-color: #bbf0bc;
}
section .recipes .recipe_card .recipe_icons .dairy {
  background-color: #b9d7fa;
}
section .recipes .recipe_card:hover .recipe_icons {
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
}
section .recipes .recipe_card:hover .recipe_title {
  transform: scale(1.1);
}
section .reviews .card {
  border-radius: 20px;
  background-color: #eee;
  padding: 50px;
  margin: 0 20px;
}
section .reviews .card .col {
  display: flex;
  flex-direction: column;
}
section .reviews .card .col .row {
  display: flex;
  justify-content: flex-start;
}
section .reviews .card .col .row img {
  border-radius: 100%;
  width: 100px;
}
section .reviews .card .col .row .col {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
section .reviews .card .col .row .col h5 {
  font-size: 20px;
  font-weight: 500;
}
section .reviews .card .col .row .col .stars {
  padding-top: 4px;
  display: flex;
  align-items: center;
}
section .reviews .card .col .row .col .stars .svg-yellow {
  width: 20px;
  color: #ffce0b;
}
section .reviews .card .col .row .col .stars .svg-gray {
  width: 20px;
  color: #777;
}
section .reviews .card .col .row .col .date {
  padding-top: 4px;
  font-weight: 300;
}
section .reviews .card .desc {
  margin-top: 30px;
  text-align: start;
}
section .reviews .card .desc h5 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
section .reviews .card .desc p {
  text-align: justify;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.5em;
}

footer {
  background-color: #678422;
  border-radius: 70px 70px 0 0;
  padding: 140px 100px 20px;
  color: white;
  font-weight: 200;
}
footer .cols {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
footer .cols .col {
  width: 20%;
}
footer .cols .col:nth-of-type(1) {
  width: 40%;
}
footer .cols .col .logo p {
  font-size: 30px;
  font-weight: 600;
  color: black;
}
footer .cols .col .logo p span {
  color: #DD5118;
}
footer .cols .col .desc {
  padding-top: 30px;
  width: 60%;
}
footer .cols .col .socials {
  display: flex;
  padding-top: 30px;
  gap: 20px;
  align-items: center;
}
footer .cols .col .socials .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 100%;
  width: 26px;
  height: 26px;
}
footer .cols .col .title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}
footer .cols .col ul {
  list-style: none;
}
footer .cols .col ul li {
  padding: 8px 0;
}
footer .copy {
  border-top: 1px solid white;
  padding-top: 20px;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
